nav {
  .header {
    @extend %ul-no-bullets;

    @include brkpnt(custom-desktop) {
      display: flex;
      padding-left: 16px;
      padding-right: 16px;
    }

    ul {
      display: flex;
    }
    img {
      width: 32px;
    }

    li {
      height: 100%;
      list-style-type: none;
      a {
        position: relative;
        display: flex;
        color: $white;
        text-decoration: none;
        padding: em(10);
        align-items: center;
        border: 2px solid transparent;
        transition: border 1s, color 1s;
        height: 100%;

        &:hover {
          color: $grey;
        }
      }
    }

    .dropdown {
      a {
        span {
          top: unset;
          right: unset;
          bottom: 15px;
          left: 20px;
        }
      }
      ul {
        display: none;
        position: absolute;
        top: 80px;
      }
      &:hover > ul {
        display: flex;
        flex-direction: column;
        background: $white;
        border-radius: 5px;
        padding: 10px;
        @extend %ul-no-bullets;
        li {
          a {
            color: $dark-grey;
            border: none;
            padding: em(5) em(30);
            &:hover {
              color: $font-color;
            }
          }
        }
      }
    }
  }
}
