* {
  box-sizing: border-box;
}

body {
  position: relative;
  line-height: 1.5;
  font-family: $stack-open-sans;
  background: $body-background;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $stack-headings;
  font-weight: 600;
  text-transform: uppercase;
  margin: em(5) 0;
  text-align: center;
  line-height: 1.3;
  color: $font-color;
  text-decoration: none;

  a {
    text-decoration: none;
    color: inherit;
  }

  @include brkpnt(tablet) {
    text-align: left;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: em(1260);
  margin: 0 auto;
  padding: em(5);
  box-sizing: border-box;

  @include brkpnt(custom-desktop) {
    padding: em(30);
  }
}

.img-r {
  display: block;
  max-width: 100%;
  min-width: 0;
}

img {
  border-radius: em(5);
}

input[type="password"],
input[type="search"],
input[type="email"],
input[type="text"],
input[type="tel"],
textarea,
select {
  // width: 100%;
  // border: none;
  // font-weight: 400;
  // font-size: 1em;
  // line-height: 1.45em;
  // outline: 0;
  // padding: em(11) em(15);
  // margin-bottom: em(10);
  // background-color: $white;
  // color: $grey;
  // border: em(1) solid $base-color;
  // box-shadow: 0 em(1) 0 rgba(0, 0, 0, 0.03) inset;
  // transition: background-color 0.5s ease-in-out;
  // border-radius: em(5);
  // border-top: 0;
  // border-left: 0;
  // border-right: 0;
  // border-bottom: em(1) solid $light-grey;
  // -webkit-appearance: none;
}

.btn {
  display: block;
  padding: em(10) em(15);
  margin: em(20) 0;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &-inline {
    display: inline-block;
  }

  &-flat {
    display: flex;
    background: transparent;
    border: transparent;
    cursor: pointer;
    margin: unset;
    :focus{
      border: transparent;
    }
  }

  &-base {
    @include btnstyle($base-color, em(30), $white, $base-color);
  }

  &-alternate {
    @include btnstyle($alternate-color, em(30), $white, $alternate-color);
  }

  &-tertiary {
    @include btnstyle($tertiary-color, em(30), $white, $tertiary-color);
  }
  &-outline {
    @include btnstyle($white, em(30), $black, $white);
    margin: em(0) 0;
    padding: em(10) em(5);
  }
}


